.upload-component {
    width: 420px;
}
.upload-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.upload-list-item {
    position: relative;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    font-size: 14px;
    line-height: 1.8;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    min-width: 200px;

    &:first-child {
        margin-top: 10px;
    }

    &:hover {
        background-color: $gray-200;

        .file-status {
            display: none;
        }

        .file-actions {
            display: block;
        }

    }

    .file-name {
        margin-left: 5px;
        margin-right: 40px;

        svg {
            margin-right: 5px;
            color: $gray-500
        }
    }

    .file-name-error {
        color: $danger;

        svg {
            color: $danger
        }
    }

    .file-name-success {
        color: $success;

        svg {
            color: $success
        }

    }

    .file-status {
        display: block;
        position: absolute;
        right: 5px;
        top: 0;
        line-height: inherit;
    }

    .file-actions {
        display: none;
        position: absolute;
        right: 7px;
        top: 0;
        line-height: inherit;
        cursor: pointer;
    }
}

.upload-dragger {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 180px;
    padding: 20px;
    border: $border-width dashed $border-color;
    border-radius: $border-radius;
    cursor: pointer;
    background-color: $gray-100;
    &:hover {
        border: $border-width dashed $blue;
    }
    &.is-dragover {
        border: 2px dashed $blue;
        background: rgba($blue, 0.2);
    }
}